---
---

@import "{{ site.theme }}";

header {
  width: 300px;
}

section {
  width: 600px;
}

header img {
  width: 285px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 18px;
}
